@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
  background-color: rgb(46, 46, 46);
  font-family: 'Major Mono Display', monospace;
  color: whitesmoke

}

#jmlStyles {
  width: 400px;
    border: 4px solid rgb(60,60,60);
    border-radius: 100%
}

.aboutLink {
  margin: 35px;
  height: 60px;
  cursor: pointer;
}

.projects {
  cursor: pointer;
}

.proj-container {
  /* border: 1px solid gold; */
  margin: -30px 0
}

.iex {
  font-size: 10px;
}

iframe {
  height: 1325px;
  width: 850px;
  margin: 0 auto
}

.res-container {
  width: 850px;
  height: 1100px;;
  margin: 0 auto;
  /* border: 1px solid gold */
}

embed {
  width: 100%;
  height: 100%;
}


.container {
  padding: 50px;
  text-align: center;
}

.aboutText {
  margin: 0 auto;
  text-align: justify;
  width: 500px
}

header {
  margin-bottom: 135px;
}

.landingLinkContainer{
  text-decoration: none;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.landingLinks:hover {
  text-decoration: none;
}


body {
  margin: 0
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

@media screen and (max-width: 800px) {

  .landingLinkContainer {
    margin: 0 auto;
    
    flex-direction: column;
  }

  .landingLinks {
    margin: 15px
  }

  #giant-proj-container {
    /* border: 1px solid gold; */
    width: 100vw;
    padding: 0
    
  }

  

  .proj-container > h2 {
    /* color: violet; */
    font-size: large;
  }

  .proj-container > h5 {
    /* color: yellow; */
    font-size: small;
  }

  .projects {
    font: smaller;
  }

  .display-3 {
    font-size: 20px;
  }
  .navbar > .brand {
    font-size: 1em;
  }

  #jmlStyles {
    width: 80%
  }

  .aboutLink {
    margin: 20px
  }

  .aboutText {
    float: none;
    /* border: 1px solid gold; */
  }

  p {
    font-size: x-small;
  }
  
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

